@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
}

body {
  padding: 30px 200px;
  background-color: #eaeaea;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

section {
  padding: 30px 0;
  text-align: center;
}
section#title {
  text-align: center;
  width: 100vw;
  margin-left: -200px;
  padding: 30px 200px;
  background-color: #F5F5F5;
}
section title_h {
  text-align: center;
}

section#about {
  text-align: center;
}

section h1 {
  text-align: center;
}

.container {
  padding: 0px 15px 0px 15px;
}
@media (min-width: 0) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

a {
  text-decoration: none;
  color: rgba(34, 34, 34, 0.8);
}
a:hover, a :focus {
  color: black;
}

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease;
}
.menu-left a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background .35s ease;
}
.menu-left a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #000;
  transition: width .35s ease;
}
.menu-left a:hover:before {
  width: 100%;
  background: #000;
  transition: width .35s ease;
}
.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
header nav .logo {
  float: left;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  font-weight: 500;
  color: black;
}
header nav .logo:after {
  content: '';
  display: table;
  clear: both;
}
header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
header nav ul li {
  float: none;
  margin-left: 0;
}
@media (min-width: 768px) {
  header nav ul li {
    float: left;
    margin-left: 1rem;
  }
}
header nav ul li a {
  display: block;
}
@media (min-width: 576px) {
  header nav ul li a {
    display: block;
    padding: .425rem 0rem;
  }
}

@media (max-width: 768px) {
  ul {
    clear: both;
  }
  ul li {
    padding: .5em 0;
  }
}
.hide-nav {
  transform: translateY(-120% !important);
  -webkit-transform: translateY(-120%) !important;
}

ul.menu-left {
  display: block;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
}
@media (min-width: 768px) {
  ul.menu-left {
    display: block !important;
    float: right;
    max-height: none;
  }
}
ul.menu-left:before {
  content: '';
  display: table;
  clear: both;
}
ul.menu-left.collapse {
  max-height: 15em !important;
}

.nav-toggle {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 38px;
  width: 38px;
  cursor: pointer;
  padding: 8px 8px;
}
.nav-toggle.open span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}
.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav-toggle.open span:last-child {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}
@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
.nav-toggle span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 4px;
  background-color: #000;
  transition: all .25s;
}

.signature {
  position: fixed;
  font-weight: 100;
  bottom: 10px;
  color: #000;
  left: 0;
  letter-spacing: 4px;
  font-size: 10px;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* Image carousel's style */



/* * {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
  -webkit-justify-content: center;
    align-items: center;
  -webkit-align-items: center;
}

body {
    background-color: #eaeaea;
} */
.definition-item {
  display: flex; /* 使用 Flex 布局分离序号和文本 */
  align-items: flex-start; /* 对齐顶部 */
}

.definition-item .number {
  flex: 0 0 1em; /* 固定序号宽度 */
  text-align: right; /* 序号右对齐 */
  margin-right: 0.5em; /* 调整序号和文本的间距 */
}

.definition-item span {
  flex: 1; /* 文本部分占满剩余空间 */
}

#exp {
  height: 80vw;
  width: 80vw;
}

#Video {
  width: 80vw;
}

#Video .container {
  width: 62%;
  margin: auto;
}

.carousel {
    width: 62%;
    height: 60%;
    display: flex;
    overflow: hidden;
    position: relative;
    margin: auto;
    background-color: #fff;
}

.info {
  position: absolute;
  left: 1.6vw;
  bottom: 4.5vw;
  z-index: 100;
  font-size: 1.5vw;
  font-weight: bold;
}

.colorbar {
  position: absolute;
  width: 3.5vw;
  height: 22.99vw;
  left: 1vw;
  bottom: 12vw;
  z-index: 100;

  background-color: #000;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('../../static/colorbar_ver.png');
}

.carousel-item {
    visibility:visible;
    width: 95%;
    height: 95%;
    background-color: #fff;
   -webkit-flex-shrink: 0;
    position: absolute;
    top: 0.4vw;
    left: .8vw;
    transform: translateX(100%);
    transition: 0.01s all ease;
}

.carousel-item__image {
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
}

.carousel__nav {
    position: absolute;
    width: 100%;
    height: 3.4vw;
    right: 0;
    z-index: 2;
    background-color:#fff;
    text-align: left;
    padding-left: .6vw;
    bottom: 0;
    white-space: nowrap;
    font-size: 1vw;
}

.indicator {
  width:101%; 
  height:3px; 
  background-color:rgb(255, 209, 209); 
  position: relative; 
  margin-left: -.6vw;
  margin-bottom: -3px;
}

.indicator-bar {
  width: 0;
  height: 3px;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 0;
}

.indicator-line {
  width: 2px;
  height: 3px;
  background-color: rgba(51, 51, 51, 0.6);
  position: absolute;
  top: 0;
}

.carousel__nav>span {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
}

.iconfont {
  font-size: 1.3vw !important;
}

.matrices {
  padding: .6vw .6vw;
  padding-top: .7vw;
  margin-left: 1vw;
  line-height: 1.25vw;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 0vw .6vw;
    position: relative;
}

.carousel__arrow:nth-child(5) {
    margin-right: 2.4vw;
}

.carousel__arrow:nth-child(5):after {
    content:'';
    right: -1.2vw;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 1.5vw;
    top: 50%;
    margin-top: -.6vw;
}